/* Estilos gerais */
body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

img {
    display: block;
    max-width: 100%;
}

.btn {
    border: 3px solid #FEC63E;
    color: #FEC63E;
    padding: 10px 30px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    border: 3px solid #fff;
}

.btn.btn-preto:hover {
    color: #000;
    border-color: #000;
}

.subtitulo {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: .1em;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.subtitulo:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 8px auto 10px auto;
}


.subtitulo-interno {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: .1em;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.subtitulo-interno:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 8px 0;
}


/* Header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    background: #FEC63E;
    z-index: 10;
}

.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}

.header_menu ul li a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}

.header_menu ul li a:hover {
    color: #fff;
}

.header_menu ul li a.menu-ativo {
    color: #fff;
}

/* Introducao interna */
.introducao-interna {
    width: 100%;
    margin-top: 92px;
    height: 160px;
    text-align: center;
    color: #fff;
    padding-top: 30px;
}

.introducao-interna h1:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 12px auto 10px auto;
}

.introducao-interna h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
}

/* Introducao */
.introducao {
    width: 100%;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    margin-top: 92px;
    height: 380px;
    padding-top: 80px;
    text-align: center;
}

.introducao h1 {
    font-size: 48px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.quote-externo {
    max-width: 320px;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 40px;
}

.quote-externo p {
    font-style: italic;
}

.quote-externo p:before,
.quote-externo p:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 12px auto 10px auto;
}

.quote-externo cite {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1em;
}

.introducao .btn {
    margin-top: 40px;
}

/* Produtos */
.produtos {
    padding: 60px 0;
}

.produtos_lista li {
    background: #FEC63E;
    text-align: center;
}

.produtos_lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
}

.produtos_lista li h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 2px auto;
}

.produtos_lista li p {
    padding: 10px 20px 20px 20px;
}

.produtos_icone {
    background: #000;
    padding: 20px;
}

.produtos_icone img {
    margin: 0 auto;
}

.call-to-action {
    text-align: center;
    padding-top: 40px;
    clear: both;
}

.call-to-action p {
    margin-bottom: 20px;
}

/* Portfolio */
.portfolio {
    width: 100%;
    background: #000;
    padding: 40px 0;
}

.portfolio .subtitulo {
    color: #FEC63E;
}

.portfolio .subtitulo:after {
    background: #FEC63E;
}

.portfolio_lista li:last-child {
    margin-top: 20px;
}

.portfolio .call-to-action p {
    color: #fff;
}

/* Qualidade */
.qualidade {
    padding: 60px 0;
}

.qualidade:after {
    content: "";
    width: 634px;
    height: 83px;
    display: block;
    background: url("../img/linhas.svg") no-repeat center;
    position: absolute;
    top: 189px;
    right: 162px;
    z-index: -1;
}

.qualidade img {
    margin: 0 auto;
}

.qualidade_lista {
    padding-top: 20px;
    /*clear-fix:*/
    overflow: auto;

}

.qualidade_lista li {
    text-align: center;
    padding: 0 40px;

}

.qualidade_lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
}

.qualidade_lista li h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 6px auto;
}

/* Quebra */
.quebra {
    background: url('../img/bg-footer.jpg') center;
    width: 100%;
    text-align: center;
    height: 220px;
    background-size: contain;
}

.quebra .quote-externo {
    max-width: 400px;
    padding-top: 40px;
}

/* Footer */
.footer {
    background: #000;
    padding: 20px 0;
    width: 100%;
}

.footer ul li,
.footer_historia p {
    color: #fff;
}

.footer h3 {
    color: #FEC63E;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.footer h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #FEC63E;
    margin: 6px 0 12px 0;
}

.footer_historia {
    padding-right: 40px;
}

.footer_contato {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 20px;
}

.footer_redes ul li {
    display: inline-block;
}

.footer_redes ul li a {
    border: 3px solid #FEC63E;
    display: block;
    padding: 10px;
    margin-right: 10px;
}

.footer_redes ul li a:hover {
    border-color: #fff;
}

.copy {
    width: 100%;
    background: #FEC63E;
    padding: 20px 0;
}


/* Formulario */
.nao-aparece {
    visibility: hidden;
    position: absolute;
    height: 0px;
}

#form-sucesso  {
    color: #40f65e;

}
#form-erro h2 {
    color: #f64540;
}